<%= turbo_frame_tag "plain" do %>
  <%= render "modal" do %>

    <div class="border dark:border-zinc-900 shadow-sm rounded-md bg-white dark:bg-zinc-800 m-4">
      <h2 class=" p-4 inline-block text-md sm:text-lg font-extrabold text-zinc-900 tracking-tight dark:text-zinc-200">
        Continue conversations
      </h2>

      <div class="h-[calc(100vh-255px)] overflow-y-scroll group">
        <%= render "plain/conversations/conversation_list" %>
      </div>
      
      <div class="flex justify-between px-3 py-2 text-xs font-medium border-t dark:border-zinc-700 rounded-b-lg bg-zinc-100/75 dark:bg-zinc-900/75">
        <%= link_to "New conversation", new_conversation_path, class: "btn-dark" %>
        <%= link_to "See previous chats", conversations_path, class: "link" %>
      </div>
    </div>

    <%= render "plain/shared/powered_by" %>
  <% end %>
<% end %>
