<!DOCTYPE html>
<html>
<head>
  <title>Plain</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "plain", "data-turbo-track": "reload" %>
  <!-- actual rails host app -->
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <!--<script src="https://cdn.tailwindcss.com"></script>-->

</head>
<body>

  <%= yield %>

</body>
</html>
