<footer class="mx-auto max-w-2xl space-y-10 pb-16 lg:max-w-5xl">
  <div class="relative h-8">
    <form class="absolute inset-0 flex items-center justify-center gap-6 md:justify-start">
      <p class="text-sm text-zinc-600 dark:text-zinc-400">Was this page helpful?</p>
      <div class="group grid h-8 grid-cols-[1fr,1px,1fr] overflow-hidden rounded-full border border-zinc-900/10 dark:border-white/10">
        <button type="submit" class="px-3 text-sm font-medium text-zinc-600 transition hover:bg-zinc-900/2.5 hover:text-zinc-900 dark:text-zinc-400 dark:hover:bg-white/5 dark:hover:text-white" data-response="yes">Yes</button>
        <div class="bg-zinc-900/10 dark:bg-white/10"></div>
        <button type="submit" class="px-3 text-sm font-medium text-zinc-600 transition hover:bg-zinc-900/2.5 hover:text-zinc-900 dark:text-zinc-400 dark:hover:bg-white/5 dark:hover:text-white" data-response="no">No</button>
      </div>
    </form>
  </div>
  <div class="flex">
    <% if @file.present? and @file[:prev] %>
      <div class="flex flex-col items-start gap-3">
        <a class="inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full bg-zinc-100 py-1 px-3 text-zinc-900 hover:bg-zinc-200 dark:bg-zinc-800/40 dark:text-zinc-400 dark:ring-1 dark:ring-inset dark:ring-zinc-800 dark:hover:bg-zinc-800 dark:hover:text-zinc-300" 
          aria-label="Previous: <%= @file[:prev][:name] %>" 
          href="/plain/docs/<%= @file[:prev][:path] %>">
          <svg viewBox="0 0 20 20" fill="none" aria-hidden="true" class="mt-0.5 h-5 w-5 -ml-1 rotate-180"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"></path>
          </svg>
          Previous
        </a>
        <a tabindex="-1" aria-hidden="true" class="text-base font-semibold text-zinc-900 transition hover:text-zinc-600 dark:text-white dark:hover:text-zinc-300" 
        href="/plain/docs/<%= @file[:prev][:path] %>">
          <%= @file[:prev][:name] %>
        </a>
      </div>
    <% end %>

    <% if @file.present? and @file[:next] %>
      <div class="ml-auto flex flex-col items-end gap-3">
        <a class="inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full bg-zinc-100 py-1 px-3 text-zinc-900 hover:bg-zinc-200 dark:bg-zinc-800/40 dark:text-zinc-400 dark:ring-1 dark:ring-inset dark:ring-zinc-800 dark:hover:bg-zinc-800 dark:hover:text-zinc-300" 
          aria-label="Next: <%= @file[:next][:name] %>" 
          href="/plain/docs/<%= @file[:next][:path] %>">
          Next 
          <svg viewBox="0 0 20 20" fill="none" aria-hidden="true" class="mt-0.5 h-5 w-5 -mr-1">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"></path>
          </svg>
        </a>
        <a tabindex="-1" aria-hidden="true" class="text-base font-semibold text-zinc-900 transition hover:text-zinc-600 dark:text-white dark:hover:text-zinc-300" 
        href="/plain/docs/<%= @file[:next][:path] %>">
        <%= @file[:next][:name] %>
        </a>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col items-center justify-between gap-5 border-t border-zinc-900/5 pt-8 dark:border-white/5 sm:flex-row">
    <p class="text-xs text-zinc-600 dark:text-zinc-400">
      <%= @config.dig("footer", "legend") || "© Copyright #{Time.now.year} . All rights reserved." %>
    </p>
    <div class="flex gap-4">
      <% links = @config.dig("footer", "links") %>
      <% if links.is_a?(Array) %>
        <% @config.dig("footer", "links").each do |link| %>
          <%= link_to link["name"], link["url"] %>
        <% end %>
      <% end %>

    </div>
  </div>
</footer>