<%= turbo_frame_tag "plain" do %>
  <%= render "plain/conversations/modal" do %>
    <div class="border shadow-sm rounded-md bg-white m-4">
      <h2 class=" p-4 inline-block text-2xl sm:text-3xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200">
        Continue conversations
      </h2>

      <div class="divide divide-y">
        <% @conversations.each do |c| %>
          <div class="p-2 rounded-sm hover:bg-black/5">

            <div class="flex space-x-2">
              <% if c.pinned? %>
                <div class="w-5 h-5">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                  </svg>
                </div>
              <% end %>
              <%= link_to c.subject || "new chat", conversation_path(c), data: {"turbo-frame": "plain"} %>
            </div>
            <p class="text-xs">
              <%= time_ago_in_words(c.created_at) %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="m-2 flex justify-between">
        <%= link_to "New conversation", new_conversation_path, class: "rounded-md bg-brand-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-brand-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-600" %>
        <%= link_to "See previous chats", conversations_path, class: "rounded-lg text-slate-900 font-semibold transition flex items-center gap-3 text-[0.8125rem] leading-6 py-1 px-1.5 hover:bg-slate-900/[0.03] -my-1 -mx-1.5" %>

      </div>
    </div>
  <% end %>
<% end %>
